.myNavbar {
  background-color: rgba(255, 255, 255, 0.688)!important;
  box-shadow: none!important;
  font-family: "AmikoB";
}
  
.myNavbar a{
  font-family: "AmikoB";
  font-size: 1.1em;
  text-transform: uppercase;
  color: black;
  padding: 10px 10px;
}

.dropdown-content li>a, .dropdown-content li>span {
  width: 500px;
  font-size: 16px;
  color: #000000;
  display: inline;
  line-height: 22px;
  padding: 14px 16px;
}