.row {
    margin-top: 40%;
}

.content{
    padding-left: 10%;
    padding-right: 5%;
    background-color: #EAFFFB;
}

#discover {
    width: 20%;
    height: auto;
    margin-bottom: 10% ;
    margin-left: 40%;
}

#sense {
    background-color: #EAFFFB;
    
}


#trailer {
    border-radius: 50%;
    border : 20px solid #646363;
    width: fit-content;
}

#text {
    vertical-align: middle;
}

#description {
    padding-top: 15%;
    padding-left: 9%;
    padding-right: 5%;
}

.description a{
    font-size: 30px;
}

#experiences {
    padding-left: 9%;
    padding-right: 5%;
}

#bottom{
    padding-left: 5%;
    padding-right: 5%;
    background-color: #F2F2F2;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.experiences-bottom input{
    padding-left: 60%;
}

.more-bottom input{
    
    padding-left: 60%;
}

.more-bottom{
    padding-left: 5%;
    padding-right: 5%;
    background-color: #F2F2F2;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#light{
    text-align: end;
}

.reservation img{
    position: absolute;
}

.reservation{
    padding-top: 70px;
}

#bg_reserve{
    width: 80%;
    padding-top: 10%;
    padding-left: 20%;
}

a {
    color: black;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    font-family: "PoppinsEL";
    
}

h1{
    padding-top: 10px;
}

