body {
    background-image: url("../../img/HomePage/bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.page {
    margin-top: 40%;
}

.page .discover {
    text-align: center;
    margin-bottom: 10% ;
}

.page .sense {
    background-color: #EAFFFB;
}

.page .sense .content{
    padding-left: 5%;
    padding-right: 5%;
    background-color: #EAFFFB;
}

.page .sense .content .trailer {
    border-radius: 50%;
    border : 22px solid #adadad;
    width: auto;
}

.page .sense .content .description {
    padding-left: 9%;
}

.page .description a{
    font-size: 30px;
}

.page .description2 {
    padding-top: 15%;
    padding-left: 9%;
    padding-right: 5%;
}

.page .experiences {
    padding-left: 9%;
    padding-right: 5%;
}

.page .experiences .bottom{
    padding-left: 5%;
    padding-right: 5%;
    background-color: #F2F2F2;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.page .experiences .bottom .experiences-bottom{
    text-align: center;
}

.page .more{
    padding-left: 9%;
    padding-right: 5%;
}

.page .more img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.page .more .bottom{
    padding-left: 5%;
    padding-right: 5%;
    background-color: #F2F2F2;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.page .bottom .more-bottom{
    background-color: #F2F2F2;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 10px;
}

.page .bottom .more-bottom .image{
    text-align: center;
}


.page .reservation{
    padding-top: 70px;
}

.page .reservation img{
    padding: 0%;
    object-fit: contain;
 }

.page .reservation .title{
    position: absolute;
    text-align: center;
    padding-top: 10%;
}
.page .reservation .texte{
    text-transform: uppercase;
    position: absolute;
    color: white;
    text-align: center;
    font-family: "PoppinsT";
}

.page .reservation .info{
    padding-top: 13%;
    text-transform: uppercase;
    position: absolute;
    color: white;
    text-align: center;
    font-family: "PoppinsT";
}

.page .reservation .info p{
    font-size: 330%;
    text-transform: uppercase;
    position: absolute;
    color: white;
    text-align: center;
    font-family: "PoppinsT";
}

#p2{
    padding-top: 5%;
    font-size: 300%;
}

#p3{
    text-transform: none;
    padding-top: 12%;
    font-size: 150%;
}

#p4{
    text-transform: none;
    padding-top: 14%;
    font-size: 90%;
}

#p5{
    text-transform: none;
    padding-top: 14%;
    font-size: 280%;
}

.page .reservation .info .tarifs {

    position: absolute;
    padding-top: 22%;
    text-align: center;

}

.page .reservation .info .tarifs img{
    filter: brightness(10) opacity(0.9) drop-shadow(0 0 0 white);
    width: 50%;
}

.page .reservation .info .tarifs p{
    font-size: 90%;
    padding-left: 7%;
}

.page .reservation .horaires{
    font-size: "AmikoB";
    background-color: black;
    color: red;
    text-align: center;

}

.page .reservation .horaires .reserved{
    background-color: #00BA8D;
    width: 100px;
}

.page .reservation .horaires .indispo{
    background-color: #9C0000;
    width: 100px;
}
.page .reservation .horaires a {
    color: white;
    margin-top: 10px;
    margin-bottom: 5px;
}

.page .reservation .horaires h3{
    color: white;
}

.page .reservation .horaires .tuto{
    text-align: center;
}

.page .reservation .horaires .checkbox span{
    font-family: "Abel";
    color: white;
    text-transform: uppercase;
    font-size: large;
    padding-right: 2%;
}

[type="checkbox"].check1.filled-in:disabled:not(:checked)+span:not(.lever):after {
    border-color: transparent;
    background-color: #9C0000 ;
}

[type="checkbox"].check2.filled-in:disabled:not(:checked)+span:not(.lever):after {
    border-color: transparent;
    background-color: #00BA8D;
}

.page .row-news p{
    font-size: medium;
    color: black;
}

.page .row-news .part1 {
    padding-left: 10%;
}

.page .row-news .part1 .news-bottom{    
    padding-top: 5px;
    background-color: #F2F2F2;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


.page .row-news .part2 .news-bottom{
    padding-top: 5px;
    background-color: #F2F2F2;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-right: 10%;
}
.page .row-news .news-bottom h3{    
    font-size: 35px;

}
.page .row-news .part1 img{    
    width: 100%;

}
.page .row-news .part2 img{    
    width: 80.5%;

}
.page .row-news .news-bottom p{    
    font-size: 30px;
    text-align: center;
    font-family: "Abel";
}
.page .row .collapsible {
    padding-left: 8%;
    border: none;
    box-shadow: none;
    margin: 0.5rem 0 1rem 0; 
}
.collapsible-header {
    display: flex;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    line-height: 1.5;
    padding: 1rem;
    background-color: transparent;
    border: none;
}

.collapsible-body {
    display: none;
    border-bottom: none;
    padding: 2rem;
}

.btn{
    width: 30%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

a{
    color: black;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    font-family: "PoppinsEL";
}

.vl {
    border-left: 2px solid white;
    height: 500px;
}

h3{
    padding-left: 10%;
}