body{
    background-image: url('../../img/banner_compte.svg');
    background-size: contain;
    background-repeat: no-repeat;
}
.row{
    margin-top: 0%;
}
.row .title{
    text-align: center;
    color: white;
    vertical-align: middle;
    position: absolute;
    text-transform: uppercase;
}
.row .title p{
    font-size: 195px;
    font-family: "AmikoB";
}
.row .content{
    margin-top: 35%;
    background-image: url('../../img/HomePage/Logo.svg');
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
}
.row button{
    background-color: white;
    color: black;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: none;
}
.row .validate{
    background-color: #000000;
    color: #fff;
}
.row:after {
    content: "";
    display: table;
    clear: both;
    color: #000000;
}
.row p{
    font-family: "AmikoB";
}
.btn, .btn-large, .btn-small {
    text-decoration: none;
    color: #fff;
    background-color: #000000;
    text-align: center;
    letter-spacing: .5px;
    transition: background-color .2s ease-out;
    cursor: pointer;
}

[type="checkbox"]+span:not(.lever) {
    color: black;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 1rem;
    -webkit-user-select: none;
    user-select: none;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #000000;
    background-color: #000000;
    z-index: 0;
}